doctype html
html
    head
        link(href='/css/#{hash}.css' rel='stylesheet' type='text/css')
    body

        block content

            


        script(type="text/javascript" src="/js/app.vendors_#{hash}.js")
        script(type="text/javascript" src="/js/app.#{hash}.js")

